
body{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

.head{
    border: 1px solid #FEF8D5 ;
    background-color: #FEF8D5;
    padding-left: 100px;
    list-style: none;
    align-content: center;
    height: 3rem;
    width: 100%;
  
}

.Important{
    color: red;
}
.Important a{
text-decoration: underline;
color:#000;
}

.Important a:hover{
    text-decoration: underline;
    color:blue;
    }




img{

    height: auto;

}

body{

    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;

}




.overlay{

    border-image-source: linear-gradient(

        hsla(0, 0%, 0%, 0.7) , 

        hsla(0, 0%, 0%, 0.7));

    border-image-slice: fill 1;

    height: 100%;

    width: 100%;

}

a{

    text-decoration: none;

}

header{

    display: flex;

    justify-content: space-between;

    background-color: #363636;

    height: 3.5rem;

    align-items: center;
    
    padding-inline: 15rem;
    

}

.logo{

    background-color: #d71921;

    height: 11rem;

    width: 6rem;

    padding-top: 7rem;

    position: absolute;

}


.logo img{

    width: 6rem;

}




header nav ul{

    display: flex;

    list-style: none;

    margin-left: 6rem;
    

}




header nav a{

    color: #fff;

    padding: 0.8rem;

    font-size: 14px ;

    font-weight: 600;

    font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;

}

.call_to_action{

    display: flex;

    

    color: #fff;

}

.call_to_action ul{

display: flex;
list-style: none;
gap: 2rem;


}

.call_to_action a{

    color: #fff;

    padding: 0.5rem;

    font-size: 14px;

    font-weight: 600;

}




#hero{

    height: 67vh;

    width: 100%;

    background-image: url(./view-of-dubai-canal-at-sunset-hp-w1920x480\ \(2\).jpg);

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

}

.float{

  width: 100%;

  height: 15vh;

}

.float img{

    width: 10rem;

    float: right;

    margin-right: 14rem;

    margin-top: 1.5rem;

}




.text{

    height: 43vh;

    width: 45%;

}

.slant{

    color: #fff;

    font-size: 2rem;

    font-weight: 300;

    position: absolute;

    font-family: Emirates-Bold, Helvetica, Arial, Lucida Grande, sans-serif;

    font-style: normal;

    -webkit-font-smoothing: antialiased;

    font-weight: 400;

    padding-left: 15rem;

    transform: rotate(0deg) scale(1) skew(-13deg) translate(0);

}

.norm{

    height: 13.7rem;

    padding-top: 4rem;

    padding-left: 15rem;

}

.hotel{

    font-family: Heroic-Medium, Arial Narrow Bold, Franklin Gothic Medium, Franklin Gothic, Arial Narrow, HelveticaNeue, Helvetica, arial, sans-serif;

    font-weight: 400;

    font-size: 6rem;

    transform: rotate(0deg) scale(1) skew(-8deg) translate(0);

    letter-spacing: -7px;

    color: #fff;

    word-spacing: -1px;

    text-shadow: .1rem .1rem .5rem rgba(0, 0, 0, .3);

    display: block;

    text-transform: uppercase;

    }

.hero__description{

    color: #fff;

    font-size: 2rem;

    padding-right: .4rem;

    padding-left: 2.2rem;

    float: right;




    }

button{

    float: right;

    width: 9.5rem;

    height: 2.5rem;

    background-color: #d71921;

    color: #fff;

    font-size: 13px;

    font-weight: 600;

    border-radius: 4px;

    border: none;




    }

.travel-form{

    height: 70vh;

    margin-top: 1rem;

    align-items: center;

    padding-inline: 13rem;

    border-radius: 5%;

}

    

.landing_form{

    height: 17rem;

    width: 68rem;

    align-items: center;
/* 
    border-radius: ;  */

}

.form_nav{

    display: flex;

    height: 3.5rem;

    align-items: center;

    background-color: #fff;

    border-radius: 5px 5px 0 0 ;

}

 .form_nav ul{

    display: flex;

    height: 3.5rem;

    width: 100%;

    align-items: center;

    text-align: center;

 }

 .form_nav li:first-child,

 .form_nav li:last-child{

    padding-inline: 4.5rem;

 }

 .form_nav li:nth-child(3){

    padding-inline: 2.5rem;

 }




 .form_nav li{

    height: 3.5rem;

    width: 25%;

    align-items: center;

    padding-inline: 1rem;

    display: flex;

    border-left: 1px solid grey;

 }

 .form_nav ul a{

  color: black;

  text-decoration: none;

  font-size: 17px;

  

 }

 .red{

    border-bottom: 4px solid red;

 }

 .red:hover{

    /* background-color: ; */

 }

 .form_nav li:hover{

   box-shadow: #363636;

 }











 .form_body{

    height: 13rem;

    padding: 1rem;  




 }

 h3{

  font-size: 2rem;

  padding-block: 1rem;

  font-weight: 100;

  margin-bottom: 2.5rem;

 }

 .mini_landing{

    display: flex;

    justify-content: space-between;

    height: 4rem;

 }

 .from{

    display: block;

    font-size: 1.2rem;

 }

 .to{

    display: block;

    font-size: 1.2rem;

 }

 input{

    height: 3.7rem;

    width: 26.5rem;

    padding: 1rem;

    border-radius: 5px;

    border: 0.5px solid grey;

    font-size: 0.95rem;

 }

 .mini_landing button{

    height: 3.7rem;

    width: 11.5rem;

    font-size: 1.0rem;

    font-weight: 600;

    color: white;

    border-radius: 4px;

    background: #d71921;

 }

 .form_body button a{

    text-decoration: none;

    color: white;

 }

 .form_body button a:hover{

    color: black;

 }

 button:hover{

    background-color: rgb(197, 197, 197);

    color: black; 

}